body{
    display: flex;
    flex-direction: column;
}
#title{
    align-self: center;
}
#cardsContainer{
    display: flex;
    flex-wrap: wrap;
}
.card{
    transition: 0.1s;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 75px;
    width: 300px;
    height: 300px;
    background-color: rgb(228, 228, 228);
}
#add:hover{
    transition: 0.1s;
    border: 4px solid black;
    border-radius: 8px;
    font-size: 100px;
    background-color: rgb(210, 210, 210);
}
#add:active{
    transition: 0.1s;
    border: 3px solid black;
    border-radius: 6px;
    font-size: 85px;
    background-color: rgb(173, 173, 173);
}
#addForm{
    display: none;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 25px 50px 25px 50px;
}
.popup{
    animation-name: show-popup;
    animation-duration: 1s;
}
.popdown{
    animation: hide-popup;
    animation-duration: 1s;
}
.formPart{
    margin-top: 2px;
    margin-bottom: 2px;
}
input.formPart{
    width: 100%;
}
input[type=color].formPart{
    border: none;
}
@keyframes show-popup {
	0% {
		scale: .7;

		opacity: 0;
	}
	45% {
		scale: 1.05;

		opacity: 1;
	}
	100% {
		scale: 1;
	}
}
@keyframes hide-popup {
	0% {
		scale: 1;
	}
	45% {
		scale: 1.05;
        opacity: 1;
	}
	100% {
		scale: .7;
        opacity: 0;
	}
}